In [8]:
# regression
import pandas
data=pandas.read_csv("Advertising.csv")
data
# unlike classification,regression uses continous data to predict an outcome

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [9]:
# describe the data
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [10]:
# check if there is inconsistent data/missing data
data.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [11]:
array=data.values
x=array[:,0:3]
y=array[:,3]

In [12]:
# split the data into training and test data
from sklearn import model_selection
x_train,x_test,y_train,y_test=model_selection.train_test_split(x,y,random_state=42,test_size=0.30)

In [13]:
# import algorithms to use
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression

# choose the model to use
model=LinearRegression()

# fit the train data to the model
model.fit(x_train,y_train)

# use the model to predict x_test
prediction=model.predict(x_test)
print("The model predicted: ",prediction)
print("Tyhe expected outcome: ",y_test)

The model predicted:  [16.5653963  21.18822792 21.55107058 10.88923816 22.20231988 13.35556872
 21.19692502  7.35028523 13.27547079 15.12449511  9.01443026  6.52542825
 14.30205991  8.97026042  9.45679576 12.00454351  8.91549403 16.15619251
 10.29582883 18.72473553 19.76821818 13.77469028 12.49638908 21.53501762
  7.60860741  5.6119801  20.91759483 11.80627665  9.08076637  8.51412012
 12.17604891  9.9691939  21.73008956 12.77770578 18.1011362  20.07590796
 14.26202556 20.93826535 10.83938827  4.38190607  9.51332406 12.40486324
 10.17045434  8.09081363 13.16388427  5.2243552   9.28893833 14.09330719
  8.69024497 11.66119763 15.71848432 11.63156862 13.35360735 11.1531472
  6.33636845  9.76157954  9.4195714  24.25516546  7.69519137 12.15317572]
Tyhe expected outcome:  [16.9 22.4 21.4  7.3 24.7 12.6 22.3  8.4 11.5 14.9  9.5  8.7 11.9  5.3
 10.3 11.7  5.5 16.6 11.3 18.9 19.7 12.5 10.9 22.2  9.3  8.1 21.7 13.4
 10.6  5.7 10.6 11.3 23.7  8.7 16.1 20.7 11.6 20.8 11.9  6.9 11.  12.8
 10.1  9.7 11.6  7.6 10.5 14.6 10.4 12.  14.6 11.7  7.2  6.6  9.4 11.
 10.9 25.4  7.6 11.7]

In [14]:
# import r2score
from sklearn.metrics import r2_score
print("Accuracy: ",r2_score(prediction,y_test))

Accuracy:  0.8467730707328176

In [15]:
# predict using our own values
investment=[[10,300,10]]
outcome=model.predict(investment)
print("The sales is: ",outcome)

The sales is:  [63.00461549]

In [16]:
# use input function to test the model
Tv=int(input("How much are you spending on TV?"))
Radio=int(input("How much are you spending on Radio?"))
Newspaper=int(input("How much are you spending on Newspaper"))
expense=[[Tv,Radio,Newspaper]]
sales_outcome=model.predict(expense)
print("Sale: ",sales_outcome)

Sale:  [61.37383138]